.container {
  width: 100%;
  height: 100vh;
  background-color: #007ea7;

  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  padding: 20px 0;
  font-size: 32px;
  text-align: center;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;

  display: flex;
  align-items: center;
  justify-content: center;
}
