.home-container {
  width: 100%;
  height: 100vh;
  background-color: #007ea7;

  display: flex;
  flex-direction: column;
}

.home-title {
  color: #fff;
  padding: 20px 0;
  font-size: 32px;
  text-align: center;
}

.home-card-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  overflow-y: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
